.spacer {
    flex: 1 1 auto;
    color: blue;
}

.toolbar {
    background-color: #2f2ac6;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}
