<div>
    <mat-form-field>
        <mat-label>書籍名</mat-label>
        <input matInput type="text" [(ngModel)]="title" name="title" required>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>あらすじ</mat-label>
        <textarea matInput [(ngModel)]="summary" name="summary"></textarea>
    </mat-form-field>

</div>
<div>
    <mat-form-field>
        <mat-label>評価点</mat-label>
        <input matInput type="number" [(ngModel)]="rating" name="rating">
    </mat-form-field>
</div>

<div>
    <button type="button" class="add" (click)="addBook()">追加</button>
</div>

<!-- bookListが空のとき -->
<div *ngIf="bookList.length === 0" class="no-data">
    データがありません
</div>

<!-- bookListに要素があるとき -->
<div *ngIf="bookList.length > 0">
    <div *ngFor="let book of bookList">
        <app-card [book]="book" (deleteRequest)="Delete($event)"></app-card>
    </div>
</div>
