<div>
    <mat-form-field>
        <mat-label>書籍名</mat-label>
        <input matInput type="title" [(ngModel)]="title" name="書籍名" required>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>あらすじ</mat-label>
        <textarea matInput type="summary" [(ngModel)]="summary" name="あらすじ"></textarea>
    </mat-form-field>

</div>
<div>
    <mat-form-field>
        <mat-label>評価点</mat-label>
        <input matInput type="number" [(ngModel)]="rating" name="評価点">
    </mat-form-field>
</div>

<div>
    <button type="button" class="add" (click)="addBook()">追加</button>
</div>
